button{
	margin:10px;
}

#display-button{
	margin-bottom:30px;
}

#main{
	background-image: url("../images/frozen.jpg");
	background-repeat:repeat-y;
	/*background-size:100% 100%;*/
	padding-bottom:100px;
}
img{
	margin-right:10px;
}

p{
	font-size:18px;
	color: white;
}

.float-left{
	display:inline;
	float:left;
}

p.clear{
	clear:both;
	font-size: 24px;
}

#giphy{
	margin-left:10px;
}

